// COLORS
$primary-color: #eecda3;
$secondary-color: #cc95c0;

// $primary-color: #eecda3;
// $secondary-color: #eecda3;

$white-color: #fff;

$dark-grey: #bdc3c7;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.5rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
